<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Nguyen Dao Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {{!-- <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li> --}}
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="/courses/create">Đăng khóa học</a>
                </li> --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://scontent.fhan17-1.fna.fbcdn.net/v/t1.15752-9/491276107_1856256988548577_6185856074308593785_n.jpg?stp=dst-jpg_s640x640_tt6&_nc_cat=102&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeGjmRtHgXaps1Upjn_EQOZjgNQadhxfGRCA1Bp2HF8ZEGvyIwbvTasp8-DE_jKLrllU99KWTCWp6mmqCP7ZvadX&_nc_ohc=SbkKRbz1ZpgQ7kNvwHmdRCr&_nc_oc=Adky2L6oTlbgXcxj15-D5kkUN-YH3cz_6hR_LZOlFTSf7A8n0q6gVp44URsob4JD4CA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan17-1.fna&oh=03_Q7cD2AEysIZ2WrUz3zqkCof1p4EWWHtdpDbX6gOXbRIcbTV4Ag&oe=682E7595"
                            alt="" class="user-avatar">
                        Thưởng Lê
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                        <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
            {{!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> --}}
        </div>
    </div>
</nav>